* {

    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url(img/dolarKuruArkaPlan.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.main-container {
    width: 100%;
    height: 100vh;
    top: 0;
    position: absolute;
}